# virtual environment
Pipfile
Pipfile.lock

# environment variables
api/secret_key.py
.env/

# django stuff:
staticfiles
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
*migrations/

# Byte-compiled / optimized / DLL files
*__pycache__/
*.py[cod]
*$py.class

# vs code stuff
.vscode

# data
classes/classes.json
courses/courses.json
institutes/institutes.json
professors/professors.json
students/students.json
subjects/subjects.json