# virtual environment
Pipfile
Pipfile.lock

# environment variables
api/secret_key.py

# django stuff:
staticfiles
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
*migrations/

# Byte-compiled / optimized / DLL files
*__pycache__/
*.py[cod]
*$py.class

# vs code stuff
.vscode
